{% extends 'ambientalnews/base.html' %}

{% block contenido %}
<div> 
    <h1> SOBRE MI </h1>
</div>
    <div>
        Mi nombre es Lautaro Dubedout. Soy de Buenos Aires. Tengo 18 años. En el 2022 termine la secundaria y en este 2023 decidi
        que quiero seguir estuidando programacion. Este curso lo empece porque siempre me intereso tanto la programacion 
        como todo el mundo de las computadoras, diseño grafico, edicion de video etc. A lo largo del curso me fui dando cuenta
        que realmente quiero seguir estudiando programacion. El curso me sirivio para terminar de comprender algunos conceptos de la 
        programacion que no comprendia, concepto los cuales a medida que paso el tiempo, las entregas y la practica, logre entender. 
    </div>
{% endblock %}