{% extends 'ambientalnews/base.html' %}

{% block contenido %}
{% if user.is_authenticated %}
    <button><a href="{% url 'post-crear' %}">Crear Post</a></button>
    {% if user.avatar.imagen %}
    <button><a href="{% url 'avatar-actualizar' user.avatar.id %}">Actualizar Avatar</a></button> 
    {% endif %}
    <button><a href="{% url 'user-actualizar' user.id %}">Actualizar Perfil</a></button>
    {% if user.is_superuser %}
    <button><a href="{% url 'listar-mensaje' %}">Mensajes</a></button>
    {% endif %}

{% endif %}
<ul>
{% for post in object_list %}
    <li>
        {{post.publicado_el}} - - {{post.titulo}} 
        {% if user.is_superuser %}
            <a href="{% url 'post-borrar' post.id %}">Borrar</a>
            <a href="{% url 'post-actualizar' post.id %}">Actualizar</a>
        {% endif %}
        <a href="{% url 'post-detalle' post.id %}">Ver</a>
    </li>
{% endfor %}
</ul>
{% endblock %}